<!-- Headings -->
Homework 7

<!--OL-->

1. What is a student's average grade?
<font color= green>87%</font>
1. What department has the highest average grade?
<font color= green>Python</font>
1. What student has the single highest grade?
<font color= green>Maria </font>

SQL file Section07_kl

# Importing a CSV file
import pandas as pd

# Viewing the newly created  .csv file
import pandas as pd

df = pd.read_csv('Section07_kl.sqbpro.csv')
print(df)

SQL Data 

<?xml version="1.0" encoding="UTF-8"?><sqlb_project><db path="C:/Users/lkayl/Downloads/Section07.sqlite" readonly="0" foreign_keys="1" case_sensitive_like="0" temp_store="0" wal_autocheckpoint="1000" synchronous="2"/><attached/><window><main_tabs open="structure browser pragmas query" current="3"/></window><tab_structure><column_width id="0" width="300"/><column_width id="1" width="0"/><column_width id="2" width="100"/><column_width id="3" width="734"/><column_width id="4" width="0"/><expanded_item id="0" parent="1"/><expanded_item id="1" parent="1"/><expanded_item id="2" parent="1"/><expanded_item id="3" parent="1"/></tab_structure><tab_browse><current_table name="4,11:mainDepartments"/><default_encoding codec=""/><browse_table_settings><table schema="main" name="Departments" show_row_id="0" encoding="" plot_x_axis="" unlock_view_pk="_rowid_"><sort/><column_widths><column index="1" value="99"/><column index="2" value="121"/></column_widths><filter_values/><conditional_formats/><row_id_formats/><display_formats/><hidden_columns/><plot_y_axes/><global_filter/></table></browse_table_settings></tab_browse><tab_sql><sql name="SQL 1">SELECT s.StudentName

	,avg(g.grade) AS GPA 

	FROM Students s

		INNER JOIN Grades g

			ON s.StudentId = g.StudentId

	GROUP BY s.StudentName

	ORDER BY avg(g.grade) desc</sql><sql name="SQL 2">select s.StudentName

	,c.SubjectName

	,g.Grade 

	from Grades g

	inner join Students s

		on g.StudentId = s.StudentId

	inner join Subjects c --classes

		on g.SubjectId = c.SubjectId

		;</sql><sql name="SQL 3">select s.StudentName as &quot;Student Name&quot;

	,c.SubjectName as &quot;Class&quot;

	,g.Grade as 'Result'

	from Students s

		left join Grades g

			on s.StudentId = g.StudentId

		left join Subjects C --classes

			on g.SubjectId = c.SubjectId

		;

</sql><sql name="SQL 4"></sql><sql name="SQL 5">select * 

	from Grades g

	inner join Students s

		on g.StudentId = s.StudentId

	inner join Subjects C --classes

		on g.SubjectId = c.SubjectId

		;</sql><current_tab id="0"/></tab_sql></sqlb_project>